body{
  font-family: 'Kumbh Sans', sans-serif;
  background-image: url('bg-pattern-top.svg'), url('bg-pattern-bottom.svg');
  background-repeat: no-repeat;
  background-position:  top -560px left -330px, left 650px top 330px;
  }

h1{
  font-size: 18px;
  font-weight: 700;
  padding-top: 20px;
}

h2{
  font-size: 14px;
  color: hsl(227, 10%, 46%);
  font-weight: 400;

}

h3{
  font-size: 18px;
  font-weight: 700;
  line-height: .5;
}

h4{
  font-size: 12px;
  color: hsl(227, 10%, 46%);
  font-weight: 400;
  line-height: .5;
}

hr{
  border-top: 1px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-style: dotted;
  border-color: hsl(227, 10%, 46%);

}

.container{
  max-width: 1440px;
  max-height: 600px;
  min-height: 100vh;
  background-color: hsl(185, 75%, 39%);
  position: relative;
  padding: 1rem;
  overflow:hidden;
  display: flex;
  flex-wrap: wrap;
 

}

.top_image{
  position: relative;
  bottom:400px;
  right:350px;
}

.bottom_image{
  position: relative;
  bottom: 700px;
  left:700px;
}


.profile_card{
  border: 1px;
  border-style:hidden;
  border-radius: 20px;
  position: relative;
  bottom:750px;
  right: 450px;
  background-color: white;
  height: 350px;
  overflow:hidden;
  text-align: center;
  width: 300px;
  max-width: 400px;
}

.profile_top{
  height:120px;
  background-image: url(bg-pattern-card.svg);
  background-size:cover;

}

.profile_middle{
  background-color:white;
  height: 110px;
}

.card_top_pattern{
  width:100%;
  height: 100%;
}

.headshot{
  border: 3px;
  border-style:solid;
  border-radius: 50%;
  border-color: white;
  position: relative;
  top:75px;

}

.box{
  display: inline-block;
  width: 30%;
  height: 100%;
  background-color:white;
  border: 1px;
  text-align: center;
  line-height: 1;
}
.name{
  padding-top: 50px;
}

.age{
  color:hsl(227, 10%, 46%);
  font-weight: 400;
}
